@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -o-text-size-adjust: 100%;
    font-family: Helvetica, Arial, sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body{
    margin:0;
    padding:0;
    
}

/*

@-webkit-keyframes colorshift {
	0%   { color: #FFEBD6; }
	25%  { color: #F5EBFF; }
	50%  { color: #D6EBFF; }
	75%  { color: #D6FFEB; }
	100%  { color: #FFEBD6; }
}
@-moz-keyframes colorshift {
	0%   { color: #FFEBD6; }
	25%  { color: #F5EBFF; }
	50%  { color: #D6EBFF; }
	75%  { color: #D6FFEB; }
	100%  { color: #FFEBD6; }
}
@-ms-keyframes colorshift {
	0%   { color: #FFEBD6; }
	25%  { color: #F5EBFF; }
	50%  { color: #D6EBFF; }
	75%  { color: #D6FFEB; }
	100%  { color: #FFEBD6; }
}
@-o-keyframes colorshift {
	0%   { color: #FFEBD6; }
	25%  { color: #F5EBFF; }
	50%  { color: #D6EBFF; }
	75%  { color: #D6FFEB; }
	100%  { color: #FFEBD6; }
}

@-webkit-keyframes colorshift {
	0%   { background-color: #FFEBD6; }
	25%  { background-color: #F5EBFF; }
	50%  { background-color: #D6EBFF; }
	75%  { background-color: #D6FFEB; }
	100%  { background-color: #FFEBD6; }
}
@-moz-keyframes colorshift {
	0%   { background-color: #FFEBD6; }
	25%  { background-color: #F5EBFF; }
	50%  { background-color: #D6EBFF; }
	75%  { background-color: #D6FFEB; }
	100%  { background-color: #FFEBD6; }
}
@-ms-keyframes colorshift {
	0%   { background-color: #FFEBD6; }
	25%  { background-color: #F5EBFF; }
	50%  { background-color: #D6EBFF; }
	75%  { background-color: #D6FFEB; }
	100%  { background-color:#FFEBD6; }
}
@-o-keyframes colorshift {
	0%   { background-color: #FFEBD6; }
	25%  { background-color: #F5EBFF; }
	50%  { background-color: #D6EBFF; }
	75%  { background-color: #D6FFEB; }
	100%  { background-color: #FFEBD6; }
}

.bg{
    background-color:  color: #FFEBD6;
	-webkit-animation: colorshift 25s infinite;
	-moz-animation:    colorshift 25s infinite;
 	-ms-animation:     colorshift 25s infinite;
 	-o-animation:      colorshift 25s infinite;
}

*/

.header{
    display: block;   
    background-color: pink;
}

.billboard {
    background-size: 100%;
    height: auto;
    
}

.flowers {
    background-size: 190%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../images/flowers2.jpg);
    height:5em;
    margin: 1em 1em 1em;
    
   
}

.box{
    color: gray;
    height: 450px;
    width: 300px;
    border: 8px solid #aaaaaa; 
    margin: 0 auto 0;

    position: relative;
    
}

/*
.box:hover{
       background-color: rgba(255, 250, 24, 0.1)

}

*/

.ssd{
    font-size: 2em;
    font-weight: 150;
    line-height: 1.1em;
    position: absolute;
    align-content: center;
    text-align: center;
}

.logo {
    height: 8em;   
    margin: 1em auto .5em; 
    padding: 1em auto 1.5em;
    align-content: center;
    display: block;
}



@keyframes box-rotate {
    0% {
        transform: rotate(0deg);
}
    
    100%{
        transform: rotate(360deg);
    }
}

.logo:hover {
    animation: box-rotate .25s linear ; 

}


.hr{
    margin: 5em auto  0;
    background-color: #aaaaaa;
    height: .25em;
    width: 75%;
}

.about {
    font-size: 1.5em;   
    text-transform: uppercase;
    font-weight: 100;
    list-style: none;
    list-style-type: none;
    margin: .5em 0 0 ;
    display: inline-block;
    
}

.behance {
    height: 3em;  
    margin: 2em 2em 0;
}

.icons {
    list-style: none;
    height: 3em;
    display: inline-block;
    padding: 0 2% 0;
    margin: .5em 0 1em;
    
}



.lowercase {
    text-transform: lowercase;
    font-size: .5em;
    
}



@media only screen and (min-width: 20em){
    

}

@media only screen and (min-width: 30em){
    
    .box {
        height: 450px;    
    }
    
    
}

@media only screen and (min-width: 38em) {
    
     .box {
        height: 500px;    
    }
    
    .icons {
        margin: .5em 0 0;
        
        
    }
    
    
}


@media only screen and (min-width: 50em) {

    
}

@media only screen and (min-width: 60em) {
    .icons {
        margin: .5em auto 0;   
    }
    
    .box {
     height: 560px;   
        
    }
    
    @media only screen and (min-width: 70em) {
    .icons {
        margin: .5em auto 0;   
    }
    
    .box {
     height: 525px;  
        width: 375px;
        height: 575px;
        
    }
    
}

    
    @media only screen and (min-width: 90em) {
    .icons {
        margin: .5em auto 0;   
    }
    
    .box {
     height: 560px;   
        
    }
    
    @media only screen and (min-width: 70em) {
    .icons {
        margin: .5em auto 0;   
    }
    
    .box {
     height: 525px;  
        width: 375px;
        height: 625px;
        
    }
    




